{{ if getenv "MW_BASTION_HOST" }}
Host bastion
    User {{ getenv "MW_BASTION_USER" }}
    HostName {{ getenv "MW_BASTION_HOST" }}

Host {{ replace (getenv "MW_BASTION_SUBNETS") "," " " -1 }}
    ProxyCommand ssh -W %h:%p -q centos@bastion
{{ end }}

Host *
  ServerAliveInterval 120
  ForwardAgent yes
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
  PreferredAuthentications publickey,keyboard-interactive,password,hostbased,gssapi-with-mic
{{ if getenv "MW_PROXY_HOST" }}
  ProxyCommand /usr/local/bin/corkscrew {{ getenv "MW_PROXY_HOST" }} {{ getenv "MW_PROXY_PORT" }} %h %p
{{ end }}
